.circle-loader {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  border: 0.5rem solid $loader-light;
  border-top-color: $loader-dark;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
} 