//Main colors

$Black:#000000;
$White:#FFFFFF;

//Grey
$Grey-1:#283037;
$Grey-2:#5B656D;
$Grey-3:#8C949A;
$Grey-4:#C3C8CE;
$Grey-5:#DADDE0;
$Grey-6:#EAEDF0;
$Grey-7:#F5F7F8;

//Blue
$Blue-1:#0F67B2;
$Blue-2:#2C86D3;
$Blue-3:#61A8E4;
$Blue-4:#99C3E6;
$Blue-5:#C4E0F4;
$Blue-6:#E3F2FF;
$Blue-7:#EFF8FF;

//Green
$Green-1:#00864F;
$Green-2:#009C5C;
$Green-3:#23B277;
$Green-4:#66CC99;
$Green-5:#ACE8CA;
$Green-6:#D5F7E3;
$Green-7:#E8F9EF;

//Yellow
$Yellow-1:#CC7300;
$Yellow-2:#EC8500;
$Yellow-3:#EFB633;
$Yellow-4:#F6CA65;
$Yellow-5:#FFE4A5;
$Yellow-6:#FFF2CA;
$Yellow-7:#FFF8E4;

//Red
$Red-1:#C61616;
$Red-2:#E83E3E;
$Red-3:#F19292;
$Red-4:#F6BCBC;
$Red-5:#F6D9D9;
$Red-6:#FFEAEA;
$Red-7:#FFF6F6;

//Purple
$Purple-1:#9A0FC8;
$Purple-2:#BE3EE8;
$Purple-3:#DA69FF;
$Purple-4:#E9A6FF;
$Purple-5:#F2C9FF;
$Purple-6:#F8E3FF;
$Purple-7:#FBEEFF;

//loader
$loader-light:$Green-5;
$loader-dark:$Green-3;

//Left Menu
$left-menu-background:$Green-2;
$left-menu-selected:$Green-1;
$left-menu-font:$White;