@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.syncmain {
  font-family: Roboto;
  font-weight: 400;
  display: flex;
  justify-content: space-between; }

.circle-loader {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  border: 0.5rem solid #ACE8CA;
  border-top-color: #23B277;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
